<h1>Menu</h1>

<ul class="nav nav-pills">
  <% Section.all.each do |section| %>
    <li class="nav-item">
      <%#pass a param to url menu_path(section: section.name)%>
      <%= link_to section.name, menu_path(menu: section.name), class: "nav-link #{'active' if params[:menu] == section.name}" %> 
    </li>
  <% end %>
</ul>